In [1]:
import numpy as np 
import pandas as pd 
import pickle

## load data

In [ ]:
data=pd.DataFrame()
#we scraped data from imdb ,we can't share it
for i in range(1,5):
    for j in range(1,5):
        temp=pd.read_csv("./"+str(i)+"/result"+str(j)+".csv")
        data=pd.concat([temp,data])
data=data.reset_index()

Number of rows in our data

In [121]:
len(data)

2580220

In [122]:
data.nunique()

index         370305
Unnamed: 0    370305
id             45386
user          689987
rate              10
dtype: int64

In [123]:
data.shape

(2580220, 5)

In [124]:
data.rename(columns = {'id':'imdb_id'}, inplace = True)

In [125]:
data.columns

Index(['index', 'Unnamed: 0', 'imdb_id', 'user', 'rate'], dtype='object')

## cleaning data

In [157]:
del data['Unnamed: 0']
del data['index']

In [8]:
data_movie=pd.read_csv("data_movies_final.csv")

In [128]:
data_movie.count()

id                      49716
imdb_id                 48563
release_date            49033
title                   49716
original_language       49716
genres                  49716
popularity              49716
production_companies    49716
production_countries    49716
vote_average            49716
vote_count              49716
overview                49143
runtime                 49597
casts                   49716
directors               49716
main_actor              47335
soup                    49716
score                   49716
dtype: int64

In [129]:
data_movie.nunique()

id                      49716
imdb_id                 48560
release_date            18880
title                   45337
original_language         102
genres                   2176
popularity              15165
production_companies    29854
production_countries     2731
vote_average               89
vote_count               3331
overview                49081
runtime                   303
casts                   46418
directors               21421
main_actor              20883
soup                    48904
score                   14645
dtype: int64

In [130]:
data.count()

imdb_id    2580220
user       2580214
rate       2580220
dtype: int64

In [131]:
data=pd.merge(data, data_movie[['id','imdb_id']], on="imdb_id")

In [132]:
data=data.drop_duplicates(subset=['id','imdb_id','user','rate'])
data=data.reset_index()

In [133]:
data.count()

index      2497056
imdb_id    2497056
user       2497050
rate       2497056
id         2497056
dtype: int64

In [134]:
data.nunique()

index      2497056
imdb_id      45385
user        689984
rate            10
id           45388
dtype: int64

In [135]:
data=data.dropna(subset=['imdb_id'])

In [136]:
del data['imdb_id']

In [137]:
data=data.dropna(subset=['user'])

In [138]:
data.count()

index    2497050
user     2497050
rate     2497050
id       2497050
dtype: int64

In [139]:
data.nunique()

index    2497050
user      689984
rate          10
id         45388
dtype: int64

## analysing data

In [140]:
data['id'].value_counts().quantile(0.50)

19.0

In [141]:
data['user'].value_counts().quantile(0.98)

17.0

 ## Minimize number of users.

we will delete users who don't rate more than 18 movies

In [142]:
user_n_comment=data['user'].value_counts()

In [143]:
wanted_user=[]
for i in a.index:
    if(user_n_comment[i]>17):
        wanted_user.append(i)

Number of users who rate more than 18 movies

In [144]:
pd.DataFrame(wanted_user)[0].nunique()

13490

Get indexes(position in data) of the wanted users.

In [159]:
index_of_wanted_user=[]
for i in wanted_user:
    index_of_wanted_user.append(data[data["user"]==i].index.values.tolist())

save in file

In [160]:
import itertools

tmp=index_of_wanted_user.copy()
index_of_wanted_user = list(itertools.chain(*index_of_wanted_user))

In [167]:
len(index_of_wanted_user)

1281854

In [171]:
new_data=data.loc[index_of_wanted_user]

analyse new_data

In [172]:
new_data.nunique()

user    13490
rate       10
id      42673
dtype: int64

In [173]:
new_data.shape

(1281854, 3)

In [174]:
table=pd.pivot_table(new_data,index='user',columns='id',values='rate').fillna(0)

In [175]:
table

id,100,10000,10001,100010,100017,10002,100024,10003,100032,100033,...,99920,99922,9993,99934,9994,99946,9995,9997,99977,9999
user,,,,,,,,,,,,,,,,,,,,,
-628,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
007Waffles,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0maro0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0w0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
108YearsOld,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zzoaozz,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zzyzx000-124-271558,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zzz05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zzzorf,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
~AleXa~,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [176]:
X=table.T
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import StandardScaler
from scipy.sparse import csr_matrix

In [177]:
X_sparse=csr_matrix(X)

In [178]:
X_sparse.shape[0]

42673

In [179]:
tsvd = TruncatedSVD(n_components=X_sparse.shape[1]-1)
X_tsvd = tsvd.fit(X)

In [9]:
def select_n_components(var_ratio, goal_var: float) -> int:
    
    total_variance = 0.0
    
    n_components = 0
    
    for explained_variance in var_ratio:

        total_variance += explained_variance
        
        n_components += 1
        
        if total_variance >= goal_var:
            break

    return n_components

In [181]:
k=select_n_components(tsvd.explained_variance_ratio_, 0.95)
k

5920

In [182]:
SVD = TruncatedSVD(n_components=k)
decomposed_matrix = SVD.fit_transform(X)
decomposed_matrix.shape

(42673, 5920)

In [183]:
decomposed_matrix

array([[ 4.01319277e+01,  3.07836908e+00,  9.89191564e+00, ...,
         2.51067438e-01,  1.44686605e-01,  1.54759104e-01],
       [ 6.36981718e-02,  2.78285118e-02, -3.54297386e-02, ...,
        -9.51047892e-02,  1.56951393e-01,  1.99331582e-01],
       [ 2.19129389e+00,  2.85234454e-01,  1.18099609e+00, ...,
         1.67967144e-01, -1.67287976e-02,  5.84269941e-02],
       ...,
       [ 8.19010873e-01,  6.88501263e-02,  6.64506653e-01, ...,
         4.34765066e-01,  3.55833116e-01,  4.15660771e-01],
       [ 1.15170093e+00, -1.40222842e+00,  2.23863638e-01, ...,
        -1.86570755e-01, -1.16580257e-01, -8.97357697e-02],
       [ 2.59145492e-01,  1.61327059e-01, -2.93729583e-01, ...,
        -1.67886656e-01, -5.29357001e-02, -1.35674460e-01]])

save decomposed matrix

In [184]:
with open('decomposed_matrix.npy', 'wb') as f:
    np.save(f, decomposed_matrix)

memory size of decomposed matrix in GB

In [185]:
decomposed_matrix.size*decomposed_matrix.itemsize/(1024*1024*1024)

1.8821966648101807

In [2]:
with open('decomposed_matrix.npy', 'rb') as f:
    decomposed_matrix = np.load(f)

In [3]:
correlation_matrix = np.corrcoef(decomposed_matrix)
correlation_matrix.shape

(42673, 42673)

memory size of correlation matrix in GB

In [188]:
correlation_matrix.size*correlation_matrix.itemsize/(1024*1024*1024)

13.567394979298115

In [211]:
movie_id = list(X.index)

f = open('list_movie_id_collaborative.pkl', 'wb')
pickle.dump(movie_id , f)
f.close()

7368

In [4]:
f = open('list_movie_id_collaborative.pkl', 'rb')
movie_id = pickle.load(f)
f.close()

In [216]:
movie_index = movie_id.index('155')
movie_index

7368

In [207]:
correlation_movie = correlation_matrix[movie_index]
correlation_movie

array([ 0.07479055, -0.00120604,  0.011251  , ...,  0.00041895,
        0.06469775, -0.00047995])

In [247]:
movie_id[7368]

'155'

In [16]:
def get_recommend(id):
    movie_index = movie_id.index(id)
    correlation_movie = correlation_matrix[movie_index]
    list_movies=pd.DataFrame(correlation_movie)
    temp=list_movies.sort_values(by=[0],ascending=False).index[0:20]
    buts=[]
    for i in temp:
        movie= movie_id[i]
        but=data_movie[data_movie["id"]==movie]
        buts.append([movie,but["title"].values[0],but["score"].values[0]])
    temp=pd.DataFrame(buts).sort_values(by=[2],ascending=False)
    print(temp)

In [17]:
get_recommend('88751')

        0                                        1         2
15   5176                               3:10toyuma  6.976153
16  11253                  hellboyii:thegoldenarmy  6.600715
12   2454      thechroniclesofnarnia:princecaspian  6.526952
19   7446                            tropicthunder  6.521842
8    8204                  thespiderwickchronicles  6.442279
5   10527                 madagascar:escape2africa  6.440708
9    6972                                australia  6.427682
18  12222                         hortonhearsawho!  6.385978
6    8960                                  hancock  6.269604
3    6637           nationaltreasure:bookofsecrets  6.245642
11   1724                        theincrediblehulk  6.179865
2   54318                            thewaterhorse  6.172775
14  18360  nightatthemuseum:battleofthesmithsonian  6.076052
0   88751             journeytothecenteroftheearth  5.978606
7   10488                              nim'sisland  5.871565
13  13836                      racetowitchmountain  5.805800
4   10200                 thedaytheearthstoodstill  5.636693
17   9750                              ballsoffury  5.554024
10   7840                                 10,000bc  5.476893
1    1735          themummy:tombofthedragonemperor  5.454414